@use "variables";
@use "box";
@use "base/elements";
@use "base/wordpress";

.og {
	@import "elements";
	@import "fields";
	@import "toggle";
	@import "result";
	@import "toggle-group";
	@import "field-inserter";

	@import "field-settings/icon";

	@import "panels/attribute";
}

.mb-box__body {
	padding: 32px;
}

.og-field {
	display: grid;
	grid-template-columns: 180px 1fr;
}

.og-label {
	text-transform: none;
	font-size: 13px;
}

.og-attribute {
	flex-direction: row;
}

hr {
	margin-block: 32px;
}

// Hide WordPress elements.
.misc-pub-visibility {
	display: none;
}