&-field-settings__header {
	position: fixed;
	right: 16px;
	top: 12px;
	display: flex;
	gap: 8px;
}

&-clone {
	&__content {
		margin-top: 0;

		.components-popover__content {
			width: 300px;
			padding: 16px;
		}

		.components-button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}