app export-ignore
assets/sass export-ignore

modules/relationships/app export-ignore
modules/relationships/assets/*.scss export-ignore

modules/settings-page/app export-ignore
modules/settings-page/assets/*.scss export-ignore

.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore
composer.json export-ignore
composer.lock export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
webpack.config.js export-ignore
