.mb-fields {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	&.mb-field--group__fields {
		&:empty:before {
			grid-column: span 12;
		}
	}
}

.mb-field-wrapper--columns {
	.rwmb-label,
	.rwmb-label~.rwmb-input {
		display: block;
		width: 100%;
		padding: 0;
	}

	.rwmb-label {
		margin-bottom: 6px;
	}

	.rwmb-field {
		display: block;
	}

	.mb-field--group > .rwmb-field > .rwmb-label {
		padding-block: 0;
	}
}

.mb-field-wrapper {
	grid-column: span 12;
	position: relative;
}

.mb-field-resize-handle {
	position: absolute;
	right: -4px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 20px;
	background: #007cba;
	border-radius: 4px;
	cursor: col-resize;
	z-index: 10;
	opacity: 0.8;
	transition: opacity 0.2s ease;

	&:hover {
		opacity: 1;
		background: #005a87;
	}

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 2px;
		height: 12px;
		background: #fff;
		border-radius: 1px;
	}

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 2px;
		height: 12px;
		background: #fff;
		border-radius: 1px;
		margin-left: 2px;
	}
}

.mb-field-wrapper--columns-1 {
	grid-column: span 1;
}

.mb-field-wrapper--columns-2 {
	grid-column: span 2;
}

.mb-field-wrapper--columns-3 {
	grid-column: span 3;
}

.mb-field-wrapper--columns-4 {
	grid-column: span 4;
}

.mb-field-wrapper--columns-5 {
	grid-column: span 5;
}

.mb-field-wrapper--columns-6 {
	grid-column: span 6;
}

.mb-field-wrapper--columns-7 {
	grid-column: span 7;
}

.mb-field-wrapper--columns-8 {
	grid-column: span 8;
}

.mb-field-wrapper--columns-9 {
	grid-column: span 9;
}

.mb-field-wrapper--columns-10 {
	grid-column: span 10;
}

.mb-field-wrapper--columns-11 {
	grid-column: span 11;
}
