// Basic style
.mb-field {
	--spacing: 24px;

	border-bottom: none;
	padding: var(--spacing);
	position: relative;
	cursor: pointer;
	z-index: 1;

	&--active,
	&:hover {
		background: var(--color-lightest);
	}

	&--active {
		z-index: 2; // Use z-index to make sure the active field is on top of other fields.
		box-shadow: 0 0 0 1px var(--color-primary);
	}
}

// Differentiate background for subfields
.mb-field .mb-field--active,
.mb-field .mb-field:hover {
	background: #f0f0f0;
}

.mb-field .mb-field .mb-field--active,
.mb-field .mb-field .mb-field:hover {
	background: #e9e9e9;
}

.mb-field .mb-field .mb-field .mb-field--active,
.mb-field .mb-field .mb-field .mb-field:hover {
	background: #e0e0e0;
}

// Map
.mb-field .rwmb-map-wrapper img,
.mb-field .rwmb-osm-wrapper img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

// Group
.mb-field--group {
	// Do not set padding for the group, let subfields handle it.
	padding-block: 0;

	>.rwmb-field>.rwmb-label {
		padding-block: var(--spacing);
	}

	// Remove inline padding for subfields.
	.mb-field,
	// And for empty state.
	.mb-editor__empty {
		padding-inline: 0;
	}

	// Add margin-bottom for add clone button to avoid touching the edge.
	.rwmb-button.add-clone {
		margin-bottom: var(--spacing);
	}
}