// Tweaks, overwrite CSS from Meta Box

.mb-field {
	// Remove margin for the last field
	.rwmb-field.rwmb-field {
		margin-bottom: 0;
	}

	// Fix the clone background
	.rwmb-clone {
		background: inherit;
	}

	// Show hidden notes
	.rwmb-hidden-wrapper {
		display: block;
	}
}

// Disable entering for inputs
.mb-field .rwmb-input {

	input,
	select,
	textarea,
	button,
	// For checkboxes
	label,
	// For links and buttons
	a,
	// For jQueryUI widgets (date, time picker)
	.ui-widget {
		pointer-events: none;
		user-select: none;
	}
}