// Tweaks, overwrite CSS from Meta Box.

// Remove margin for the last field.
.mb-field {
	.rwmb-field.rwmb-field {
		margin-bottom: 0;
	}

	.rwmb-clone {
		background: inherit;
	}
}

// Disable entering for inputs
.mb-field .rwmb-input {

	input,
	select,
	textarea,
	.rwmb-button {
		pointer-events: none;
		user-select: none;
	}
}