input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
}
svg {
  width: 16px;
  height: 16px;
  fill: var(--color-gray);
}
&-required {
  color: var(--color-red);
}
&-loading {
  margin-left: 12px;
  font-style: italic;
}

// Collapsible panel
&-collapsible {
  background-color: #fff;

  &__header {
    border: var(--border);
    background-color: var(--color-lighter);
    color: #23282d;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      border-color: var(--color-gray);
    }
  }

  &__body {
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.2s ease;

    border-width: 0 1px;
    border-style: solid;
    border-color: var(--color-light);
    padding: 0 12px;
  }
  &--expanded {
    .og-collapsible__body {
      max-height: 1000px;
      border-bottom-width: 1px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

// Result
&-result {
  code {
    font-size: 12px;
  }
  .react-codemirror2 {
    border: var(--border);
    margin-bottom: 24px;
  }
  &__body {
    position: relative;
  }
  .button {
    position: absolute;
    top: 0;
    right: 0;
    border-color: var(--color-light);
    border-radius: 0 0 0 4px;
    z-index: 9;
  }
}


// Tooltip
& &-tooltip-icon {
	width: 14px;
	height: 14px;
	fill: var(--color-light);
	margin-left: 6px;
	top: 2px;
	position: relative;
}
.__react_component_tooltip {
  font-weight: 400;
  max-width: 400px;
}