& {
	margin-top: 24px;

	&.mb {
		margin-top: 0;
	}
}

label {
	cursor: pointer;
}

h3 {
	margin-top: 32px;
}

input[type="text"],
input[type="search"],
input[type="number"],
textarea,
select {
	width: 100%;
	max-width: none;
}

input[type=search] {
	-webkit-appearance: none;
	outline-offset: -2px;
}

.mb-main svg {
	width: 16px;
	height: 16px;
	fill: var(--color-gray);
}

.dashicon {
	font-size: 16px;
	width: 16px;
	height: 16px;
	color: var(--color-gray);
}

// Block editor components
.components-tooltip {
	max-width: 400px;
}

// Visibility.
&-is-hidden.og-is-hidden {
	display: none;
}

// Color picker
.wp-picker-container {
	position: relative;

	input {
		width: auto;
	}
}

.wp-picker-input-wrap:not(.hidden) {
	display: inline-flex;
	align-items: stretch;
}

.wp-picker-holder {
	position: absolute;
	z-index: 99;
	min-width: 255px;
}

// Tooltip
&-tooltip-icon {

	// WordPress < 5.6
	svg {
		width: 14px;
		height: 14px;
		fill: var(--color-light);
		margin-left: 6px;
		top: 2px;
		position: relative;
	}

	// WordPress 5.6+
	.dashicon {
		color: var(--color-light);
		font-size: 14px;
		position: relative;
		top: 2px;
	}
}

// React codemirror.
.react-codemirror2 {
	border: var(--border-lighter);
	font-size: 12px;
}
