input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
}
svg {
  width: 16px;
  height: 16px;
  fill: var(--color-gray);
}

.clone-setting,
.collapsible-setting {
  display: none;
}

&-required {
  color: var(--color-red);
}
&-loading {
  margin-left: 12px;
  font-style: italic;
}

// Collapsible panel
&-collapsible {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.2s ease;
    padding: 0 12px;
  }
  &--expanded {
    > .og-collapsible__header {
      background: var(--color-lighter);

      .dashicons-arrow-down-alt2 {
        transform: rotate(180deg);
      }
    }
    > .og-collapsible__body {
      max-height: 999999px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

// Result
&-result {
  code {
    font-size: 12px;
  }
  .react-codemirror2 {
    border: var(--border);
    margin-bottom: 24px;
  }
  &__body {
    position: relative;
  }
  .components-button {
    position: absolute;
    top: 0;
    right: 0;
    border-color: var(--color-light);
    border-radius: 0 0 0 4px;
    z-index: 9;
    height: 30px;
  }
}

// Tooltip
& &-tooltip-icon svg {
  width: 14px;
  height: 14px;
  fill: var(--color-light);
  margin-left: 6px;
  top: 2px;
  position: relative;
}
