h3 {
  margin-top: 32px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
	max-width: none;
}
svg {
  width: 16px;
  height: 16px;
  fill: var(--color-gray);
}
.dashicon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--color-gray);
}

// Color picker
.wp-picker-container {
  position: relative;

  input {
    width: auto;
  }
}
.wp-picker-input-wrap:not(.hidden) {
  display: inline-flex;
  align-items: stretch;
}
.wp-picker-holder {
  position: absolute;
  z-index: 99;
	min-width: 255px;
}

&-label > div {
  display: inline;
}
&-required {
  color: var(--color-red);
}
&-loading {
  margin-left: 12px;
  font-style: italic;
}

// Collapsible panel
&-collapsible {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
  }

  &__body {
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.2s ease;
    padding: 0 12px;
    background: #fff;
  }
  &--expanded {
    > .og-collapsible__header {
      background: var(--color-lighter);

      .og-item__action--toggle .dashicon {
        transform: rotate(180deg);
      }
    }

    > .og-collapsible__body {
      max-height: 999999px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.react-codemirror2 {
  border: var(--border);
    margin-bottom: 12px;
}

// Result
&-result {
  code {
    font-size: 12px;
  }
  &__body {
    position: relative;
  }
  .components-button {
    position: absolute;
    top: 0;
    right: 0;
    border-color: var(--color-light);
    border-radius: 0 0 0 4px;
    z-index: 9;
    height: 30px;
  }
}

// Tooltip
&-tooltip-icon {
  // WordPress < 5.6
  svg {
    width: 14px;
    height: 14px;
    fill: var(--color-light);
    margin-left: 6px;
    top: 2px;
    position: relative;
  }
  // WordPress 5.6+
  .dashicon {
    color: var(--color-light);
    font-size: 14px;
    position: relative;
    top: 2px;
  }
}
