&-none {
	margin: 0;
	padding: 16px 12px;
	border-bottom: var(--border-lighter);
}

&-field {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;

	&--checkbox-list .og-input {
		label {
			display: block;
		}

		code {
			background: none;
			padding: 0;
			font-size: inherit;
		}
	}
}

&-field--check &-input {
	label {
		display: inline-block;
		margin-right: 24px;
	}

	input {
		vertical-align: baseline;
		margin-right: 4px;
		top: -1px;
	}
}

&-label {
	flex: 0 0 180px;

	>div {
		display: inline;
	}

	a {
		text-decoration: none;
	}
}

&-required {
	color: var(--color-red);
}

&-loading {
	margin-left: 12px;
	font-style: italic;
}

&-input {
	flex: 1;
	min-width: 0; // To make the input not exceed parent's width (see conditional logic in a sub-field of nested groups).
}

&-description {
	font-style: italic;
	font-size: 12px;
	margin-top: 2px;

	code {
		font-style: normal;
		font-size: 11px;
		padding: 2px 4px;
		border-radius: 2px;
	}
}

&-item {
	border-bottom: var(--border-lighter);

	&__header {
		padding: 12px;
		cursor: move;
	}

	&__title {
		color: var(--wp-admin-theme-color);
		font-weight: bold;
		line-height: 24px;
		margin-right: auto;
	}

	&__actions {
		font-size: 12px;
		display: flex;
		align-items: center;
	}

	&__action {
		cursor: pointer;
		margin-left: 8px;
		color: var(--color-gray);
		display: flex;

		svg {
			fill: currentColor;
		}

		.dashicon {
			color: currentColor;
		}

		&:hover {
			color: inherit;
		}

		&--remove:hover {
			color: var(--color-red);
		}

		&--toggle .dashicon {
			font-size: 20px;
			width: 20px;
			height: 20px;
		}
	}

	.react-tabs__tab-list {
		border: none;
		margin: 0 0 24px;
	}

	.react-tabs__tab {
		height: auto;
		line-height: 1;
		padding: 0;

		&:not(:last-child) {
			border-right: 1px solid var(--color-light);
			padding-right: 8px;
			margin-right: 8px;
		}

		&--selected,
		&:hover {
			box-shadow: none;
			color: inherit;
			color: var(--wp-admin-theme-color);
		}
	}
}

&-attribute {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 6px;
	margin-bottom: 12px;

	.og-remove {
		padding: 0;
		border: none;
		background: none;
		visibility: hidden;
		transition: unset;
		width: 16px;
		height: 16px;
	}

	&:hover>.og-remove {
		visibility: visible;
		cursor: pointer;
	}

	// WordPress < 5.6
	svg:hover {
		fill: var(--color-red);
	}

	// WordPress 5.6+
	.dashicon:hover {
		color: var(--color-red);
	}

	input {
		min-width: 0; // To make the input not exceed parent's width (see conditional logic in a sub-field of nested groups).
		flex: 1;
	}
}

// Group.
&-item--group .og-collapsible__body {
	padding-bottom: 0;
}

&-group-fields {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.2s ease;
	padding: 0 12px;
	margin-bottom: 0;

	.og-collapsible--expanded>& {
		max-height: 999999px;
		padding-bottom: 12px;
	}

	>.og-input {
		border: var(--border-lighter);
	}

	.og-item__header {
		padding: 8px 12px;
	}

	&--empty>.og-input {
		border: none;

		>.og-inserter {
			margin: 0;
		}
	}
}

// React select.
.react-select {
	&__control.react-select__control {
		border-color: #7e8993;
		min-height: 30px;
	}

	&__value-container {
		padding-top: 0;
		padding-bottom: 0;

		div:last-child {
			height: 22px;
		}
	}

	&__multi-value__label {
		line-height: 16px;
		font-style: 12px;
	}

	&__input input {
		min-height: 18px;
		line-height: 1;

		&:focus {
			box-shadow: none;
		}
	}

	&__indicator.react-select__indicator {
		padding: 4px;
	}
}

// Icon.
&-icon {
	&__select {
		position: relative;
		display: inline-block;
		margin: 0 4px 4px 0;
	}

	// WordPress 5.6+
	.og-dashicon {
		border-radius: 4px;
		width: 36px;
		height: 36px;
		padding: 4px;
		font-size: 24px;
		box-sizing: border-box;
		color: currentColor;
	}

	&-selected {
		display: flex;

		span {
			width: 36px;
			height: 36px;
			padding: 4px;
			box-sizing: border-box;
			font-size: 24px;
			border: 1px solid #8c8f94;
			border-radius: 4px;
			margin-right: 10px;
			display: grid;
			place-items: center;
		}

		.og-icon-search {
			opacity: 1;
			position: relative;
		}
		.icon-fontawesome::before {
			font-size: 18px;
		}
	}

	&-items {
		display: grid;
		grid-template-columns: repeat(auto-fit, 65px);
		gap: 10px 15px;
		max-height: 25em;
		overflow: auto;
		padding: 1px;
		margin-top: 15px;
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		text-align: center;

		&:hover {
			cursor: pointer;

			.og-icon__select {
				box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
			}
		}
		.og-icon__select {
			border-radius: 4px;
			margin: 0;
		}

		&__text {
			color: var(--color-gray);
			font-size: 11px;
			line-height: 1.1;
			margin-top: 4px;
		}
	}

	input {
		position: absolute;
		opacity: 0;

		// WordPress 5.6+
		&:checked~.og-dashicon {
			color: #fff;
			background-color: var(--wp-admin-theme-color);
			border-color: var(--wp-admin-theme-color);
		}
	}
}

// Admin columns.
&-admin-columns-position .og-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 6px;
}

&-admin-columns-position .og-input select {
	width: auto;
}

&-admin-columns-position .og-input input {
	flex: 1;
}