&-none {
	margin: 0;
	padding: 16px 36px;
	border-bottom: var(--border-lighter);
}

&-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #999;
	border-bottom: var(--border-lighter);
	padding: 10px;
	background: var(--color-lighter);
}

&-column {
	&--drag {
		cursor: grab;
		display: flex;
		padding: 4px;
		width: 24px;
		height: 24px;
		box-sizing: border-box;
	}

	&--label {
		flex: 1;
		padding-right: 20px;
		display: flex;
		align-items: center;
	}

	&--id {
		width: 180px;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 20px;
	}

	&--type {
		width: 140px;
		padding-right: 20px;
	}

	&--actions {
		width: 120px;
	}
}

// Align the "Action" text in the item header bar.
&-header .og-column--actions {
	text-align: right;
}

&-field {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;

	&--checkbox-list .og-input {
		label {
			display: block;
		}

		code {
			background: none;
			padding: 0;
			font-size: inherit;
		}
	}
}

&-field--check &-input {
	label {
		display: inline-block;
		margin-right: 24px;
	}

	input {
		vertical-align: baseline;
		margin-right: 4px;
		top: -1px;
	}
}

&-label {
	flex: 0 0 180px;

	>div {
		display: inline;
	}

	a {
		text-decoration: none;
	}
}

&-required {
	color: var(--color-red);
}

&-loading {
	margin-left: 12px;
	font-style: italic;
}

&-input {
	flex: 1;
	min-width: 0; // To make the input not exceed parent's width (see conditional logic in a sub-field of nested groups).
}

&-description {
	font-style: italic;
	font-size: 12px;
	margin-top: 2px;

	code {
		font-style: normal;
		font-size: 11px;
		padding: 2px 4px;
		border-radius: 2px;
	}
}

&-item {
	&__header {
		padding: 10px;
	}

	&__hidden-label {
		position: absolute;
		height: 0;
		overflow: hidden;
		white-space: pre;
		font-weight: 500;
	}

	&__title.og-item__title.og-item__title {
		color: var(--wp-admin-theme-color);
		font-weight: 500;
		line-height: 24px;

		// Reset WP style for the input.
		border: 0;
		border-radius: 0;
		background: none;
		padding: 0 0 4px;
		min-height: 24px;
		font-size: 13px;

		// Fix layout shifting when focus.
		height: 24px;
		box-sizing: border-box;

		+.dashicons {
			font-size: 16px;
			width: 16px;
			height: 16px;
			color: var(--color-gray);

			// Hide edit icon by keep its space, so when hovering, it appears without layout shift.
			opacity: 0;
		}

		// Show edit title icon when hover.
		&:hover+.dashicons {
			opacity: 1;
		}

		// Add border bottom when focus, mimic edit effect.
		&:focus {
			padding-bottom: 4px;
			outline: none;
			color: inherit;
			box-shadow: 0 1px var(--color-light);

			// Hide edit icon when focus.
			+.dashicons {
				opacity: 0;
			}
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 4px;

		svg {
			fill: currentColor;
		}
	}

	&__action {
		display: flex;
		cursor: pointer;
		color: var(--color-gray);
		padding: 4px;
		transition: all ease-out .2s;

		&:hover {
			color: inherit;
		}

		&--remove {
			color: var(--color-red);
		}
	}

	.og-column--drag {
		opacity: 0;
		visibility: hidden;
	}

	.react-tabs__tab-list {
		border: none;
		margin: 0 0 24px;
	}

	.react-tabs__tab {
		height: auto;
		line-height: 1;
		padding: 0;

		&:not(:last-child) {
			border-right: 1px solid var(--color-light);
			padding-right: 8px;
			margin-right: 8px;
		}

		&--selected,
		&:hover {
			box-shadow: none;
			color: inherit;
			color: var(--wp-admin-theme-color);
		}
	}
}

// Border bottom: an item always have border bottom, and when expanded: add a border bottom to its header bar.
&-item {
	border-bottom: var(--border-lighter);

	&.og-collapsible--expanded>.og-item__header {
		border-bottom: var(--border-lighter);
	}
}

// On hover and expand.
.og-item__header:hover,
.og-collapsible--expanded>.og-item__header {
	background: var(--color-lightest);

	// Show drag icon.
	.og-column--drag {
		opacity: 1;
		visibility: visible;
	}
}

// Rotate the dropdown icon when expanding.
.og-collapsible--expanded>.og-item__header .og-item__action--toggle svg {
	transform: rotate(180deg);
}

&-attribute {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 6px;
	margin-bottom: 12px;

	.og-remove {
		padding: 0;
		border: none;
		background: none;
		visibility: hidden;
		transition: unset;
		width: 16px;
		height: 16px;
	}

	&:hover>.og-remove {
		visibility: visible;
		cursor: pointer;
	}

	// WordPress < 5.6
	svg:hover {
		fill: var(--color-red);
	}

	// WordPress 5.6+
	.dashicon:hover {
		color: var(--color-red);
	}

	input {
		min-width: 0; // To make the input not exceed parent's width (see conditional logic in a sub-field of nested groups).
		flex: 1;
	}
}

// React select.
.react-select {
	&__control.react-select__control {
		border-color: #7e8993;
		min-height: 30px;
	}

	&__value-container {
		padding-top: 0;
		padding-bottom: 0;

		div:last-child {
			height: 22px;
		}
	}

	&__multi-value__label {
		line-height: 16px;
		font-style: 12px;
	}

	&__input input {
		min-height: 18px;
		line-height: 1;

		&:focus {
			box-shadow: none;
		}
	}

	&__indicator.react-select__indicator {
		padding: 4px;
	}
}

// Icon.
&-icon {
	&__select {
		position: relative;
		display: inline-block;
		margin: 0 4px 4px 0;
	}

	// WordPress 5.6+
	.og-dashicon {
		border-radius: 4px;
		width: 36px;
		height: 36px;
		padding: 4px;
		font-size: 24px;
		box-sizing: border-box;
		color: currentColor;
	}

	&-selected {
		display: flex;

		span {
			width: 36px;
			height: 36px;
			padding: 4px;
			box-sizing: border-box;
			font-size: 24px;
			border: 1px solid #8c8f94;
			border-radius: 4px;
			margin-right: 10px;
			display: grid;
			place-items: center;
		}

		.og-icon-search {
			opacity: 1;
			position: relative;
		}

		.icon-fontawesome::before {
			font-size: 18px;
		}
	}

	&-items {
		display: grid;
		grid-template-columns: repeat(auto-fit, 65px);
		gap: 10px 15px;
		max-height: 25em;
		overflow: auto;
		padding: 1px;
		margin-top: 15px;
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		text-align: center;

		&:hover {
			cursor: pointer;

			.og-icon__select {
				box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
			}
		}

		.og-icon__select {
			border-radius: 4px;
			margin: 0;
		}

		&__text {
			color: var(--color-gray);
			font-size: 11px;
			line-height: 1.1;
			margin-top: 4px;
		}
	}

	input {
		position: absolute;
		opacity: 0;

		// WordPress 5.6+
		&:checked~.og-dashicon {
			color: #fff;
			background-color: var(--wp-admin-theme-color);
			border-color: var(--wp-admin-theme-color);
		}
	}
}

// Admin columns.
&-admin-columns-position .og-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 6px;
}

&-admin-columns-position .og-input select {
	width: auto;
}

&-admin-columns-position .og-input input {
	flex: 1;
}