&-none {
	margin: 0;
	padding: 16px 36px;
	border-bottom: var(--border-lighter);
}

&-field {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	&--checkbox-list .og-input {
		label {
			display: block;
		}

		code {
			background: none;
			padding: 0;
			font-size: inherit;
		}
	}

	&--checkbox .og-description {
		display: inline-block;
		margin-left: 6px;
	}

	&--divider {
		border-bottom: 0;
		border-color: var(--color-light);
		margin-inline: -16px;
	}
}

&-field--check &-input {
	label {
		display: inline-block;
		margin-right: 24px;
	}

	input {
		vertical-align: baseline;
		margin-right: 4px;
		top: -1px;
	}
}

&-label {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: block;

	>div {
		display: inline;
	}

	a {
		text-decoration: none;
	}
}

&-required {
	color: var(--color-red);
}

&-loading {
	margin-left: 12px;
	font-style: italic;
}

&-input {

	// Reset style for label, which is set in Panel component
	label {
		max-width: none;
		margin-right: 0;
	}
}

&-description {
	font-size: 12px;
	margin-top: 4px;
	color: #757575;

	code {
		font-style: normal;
		font-size: 11px;
		padding: 2px 4px;
		border-radius: 2px;
	}
}

&-error {
	color: var(--color-red);
	font-size: 12px;
	margin-top: 4px;
}

&-item {
	border-bottom: var(--border-lighter);

	&__header {
		padding: 4px 0 4px 12px;
		box-sizing: border-box;
		cursor: grab;
		transition: all .2s;

		&:hover {
			background: var(--color-lightest);
		}
	}

	.components-button.has-icon {
		color: inherit;
	}

	svg {
		fill: currentColor;
	}

	&__icon {
		opacity: .5;
	}

	&__label {
		margin-right: auto;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__actions.og-item__actions {
		min-width: 36px;
	}
}

// Admin columns.
&-admin-columns-position .og-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 6px;
}

&-admin-columns-position.og-admin-columns-position .og-input select {
	width: auto;
}

&-admin-columns-position .og-input input {
	flex: 1;
}

// Tabs.
&-item--tab {

	.og-item__header,
	.og-item__hidden-text--label {
		font-weight: 700;
	}

	.og-item__icon {
		color: var(--color-gray);
		margin-right: 4px;

		&.dashicons {
			font-size: 16px;
			height: 16px;
			width: 16px;
		}
	}

	svg.og-item__icon {
		width: 20px;
		height: 20px;
	}

	img.og-item__icon {
		max-width: 24px;
		height: auto;
	}
}