&-field-insert {
	position: relative;
	flex: 1;
}

&-dropdown {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;

	.components-button {
		height: 100%;

		&:focus {
			box-shadow: none;
		}
	}

	&__search {
		margin-bottom: 8px;

		input {
			width: 100%;
			margin: 0;
		}
	}

	&__item {
		cursor: pointer;
		padding: 4px 8px;
		border-radius: 4px;
		min-width: 240px;

		&:hover {
			background: var(--color-lighter);
		}
	}
}