&-group-fields {
	// Left indent the subfields.
	padding-left: 32px;

	// Add left border for the subfields wrapper.
	&__inner {
		border-left: var(--border-lighter);

		// Remove border bottom for the last subfield.
		&>.og-item:last-child {
			border-bottom: 0;
		}

		// No subfields, add padding and text
		&:empty {
			border-left: 0;
			padding: 12px 12px 12px 0;

			&:before {
				display: block;
				content: 'No subfields here, click the "3 dots" icon to add a new one or drag other fields into this area.';
				font-size: 12px;
				color: var(--color-gray);
			}
		}
	}
}

&-item--group {

	// Show border bottom for header bar if has subfields.
	&:has(.og-group-fields)>.og-item__header {
		border-bottom: var(--border-lighter);
	}
}