/************************************
 * General style
 ************************************/

&-group-fields {

	.og-header,
	.og-item__header {
		padding-block: 8px;
	}

	&__title {
		color: var(--color-gray);
		font-size: 12px;
		letter-spacing: .05em;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 6px;
	}

	// Reduce the padding for inserter button if no subfields.
	&--empty > .og-inserter {
		padding-top: 0;
	}
}

&-item--group {
	// Show border bottom for header bar if has subfields.
	&--has-fields > .og-item__header {
		border-bottom: var(--border-lighter);
	}

	.og-inserter {
		padding-inline: 0;
	}
}

.og-column--actions .og-inserter {
	padding: 0;

	button {
		display: grid;
		place-items: center;
		padding: 4px;
		font-size: 14px;
		line-height: 1;
		width: 1em;
		min-height: 0;
		box-sizing: content-box;
		transition: all ease-out .2s;
		border-color: currentColor;
		color: var(--color-gray);
		background: none;

		&:hover {
			color: inherit;
		}
	}
}


/************************************
 * Collapsed state
 ************************************/

// Remove border bottom for the last subfield.
&-item--group > .og-group-fields > .og-group-fields__inner > div > .og-item:last-child {
	border-bottom: 0;
}

&-group-fields {
	// Left indent the subfields.
	padding-left: 36px;

	// Add left border for the subfields wrapper.
	&__inner {
		border-left: var(--border-lighter);
	}

	// - No subfields: hide the wrapper div.
	&--empty,
	// - With subfields: show subfields (maybe) but hide the inserter button.
	>.og-inserter,
	// Hide the "Subfields" title.
	>.og-group-fields__title,
	// Hide the header bar.
	>.og-group-fields__inner>.og-header {
		display: none;
	}
}


/************************************
 * Expanded state:
 ************************************/

&-item--group.og-collapsible--expanded {
	// Always show the border bottom. Force to overwrite the rule that don't show the border bottom for groups with no subfields.
	border-bottom: var(--border-lighter);

	>.og-group-fields {
		// Add right space to put the table inside the group's content.
		padding-right: 36px;

		// Readd border bottom for the last subfield.
		> .og-group-fields__inner > div > .og-item:last-child {
			border-bottom: var(--border-lighter);
		}

		// Re-add the right border.
		&:not(.og-group-fields--empty)>.og-group-fields__inner {
			border-right: var(--border-lighter);
		}

		// Show inserter button, but only for the current group, not sub-groups.
		&--empty,
		>.og-inserter,
		// Show the "Subfields" title.
		>.og-group-fields__title {
			display: block;
		}

		// Show the header bar.
		>.og-group-fields__inner>.og-header {
			display: flex;
		}
	}
}