// Do not show update nag
.update-nag {
	display: none;
}

// Hide WordPress header elements
#screen-meta-links,
.wrap h1.wp-heading-inline,
.wrap .wp-heading-inline+.page-title-action {
	display: none;
}

// Setup margin, padding on wrappers
.wrap {
	margin: 0;
}

#wpcontent {
	padding-left: 0;
}

#wpbody-content {
	padding-bottom: 0;
}

// App: full height
@media (min-width:782px) {
	.mb {
		min-height: calc(100vh - 32px);
	}
}

.mb {
	display: flex;
	flex-direction: column;
}

// Header
.mb-header {
	background: #fff;
	position: sticky;
	top: 32px;
	z-index: 99;
	border-bottom: 1px solid var(--color-light);

	// h1 {
	// 	font-size: 20px;
	// 	padding: 0;
	// }

	& &__logo {
		padding: 6px;
		min-width: fit-content;
	}

	&__logo svg {
		width: 48px;
		height: 48px;
		display: block;
	}

	&__title input {
		border-width: 0 0 1px 0;
		border-color: var(--color-light);
		border-radius: 0;
		padding-inline: 0;

		&:focus {
			outline: none;
			border-color: var(--color-gray);
		}
	}

	&__badge {
		&__name {
			background: var(--color-light);
			border-radius: 4px 0 0 4px;
			padding: 2px 6px;
		}

		&__content {
			background: var(--color-lighter);
			border-radius: 0 4px 4px 0;
		}

		input {
			border-width: 0 0 1px 0;
			border-color: transparent;
			border-radius: 0 4px 4px 0;
			padding: 2px 6px;
			background: var(--color-lighter);

			&:focus {
				outline: none;
				border-bottom-color: var(--color-light);
			}
		}
	}

	&__actions {
		padding-right: 12px;

		svg {
			width: auto;
			height: auto;
			fill: currentColor;
		}
	}
}

// Body: main area
.mb-body {
	flex: 1;
	position: relative;

	// Notices
	.notice {
		border-radius: 6px;
		border-top-color: #e0e0e0;
		border-bottom-color: #e0e0e0;
		border-right-color: #e0e0e0;
		padding-block: 6px;
	}

	.notice-dismiss {
		bottom: 0;
	}

	&__inner {
		margin: 48px 48px 48px;
		// margin: 40px 16px 16px;
		flex: 1;
	}
}

.mb-main {
	// max-width: 900px;
	margin-inline: auto;
}

// Tabs in the main content area
.mb-tabs {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

// Sidebar
.mb-sidebar {
	width: 300px;

	.components-panel__row {
		display: block;
	}

	.summary {
		p {
			display: flex;
		}

		label {
			width: 40%;
		}
	}

	.status {
		text-transform: capitalize;
	}
}

// Sidebar panel
.mb-panel {
	position: fixed;
	top: calc(32px + 60px + 1px); // Admin bar + header + border
	bottom: 0;
	right: 0;
	width: 300px;
	z-index: 99;
	transition: all .25s;
	transform: translateX(300px);
	overflow-y: scroll;

	margin-top: -1px; // Override to the header's border
	background: #fff;
	border-right: 0;

	&--show {
		transform: translateX(0);
	}
}

// Box
.mb-box {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	margin-top: 24px;

	&__header {
		font-size: 16px;
		font-weight: 600;
		line-height: 1;
		padding: 16px 12px;
		border-bottom: var(--border);
	}
}