#mbb-license-warning {
	border: 3px dashed #ef4836;
	background: #fff;
	padding: 12px;
}

#mbb-license-warning h2 {
	padding: 0;
	margin-bottom: 12px;
	font-weight: 600;
}

#mbb-license-warning .inside {
	padding-bottom: 0;
}

#mbb-license-warning .dashicons {
	color: #f56e28;
	margin-right: 4px;
}