&-tab-settings {
	padding: 12px;
}

&-location {
	& > .og-input {
		display: flex;
		justify-content: space-between;
		grid-gap: 6px;
	}
	select {
		width: auto;
	}
	.react-select {
		flex: 1;
	}
}

&-include-exclude {
	select {
		width: auto;
	}

	&__intro {
		margin-bottom: 12px;

		select {
			margin-right: 8px;

			&:not(:first-child) {
				margin-left: 8px;
			}
		}
	}
	&__value {
		flex: 1;
	}
	&__rule {
		align-items: flex-start;
	}
}
&-show-hide__inputs .og-field {
	flex: 1;
	margin-bottom: 0;
}