&-tab-panel--settings {
	padding: 12px;
}

&-location {
	& > .og-input {
		display: flex;
		justify-content: space-between;
		grid-gap: 6px;
	}
	select {
		width: auto;
		flex-basis: 0;
		flex-grow: 1;
	}
	.react-select {
		flex-basis: 0;
		flex-grow: 2;
		padding-right: 22px;
	}
}

&-include-exclude {
	select {
		width: auto;
	}

	&__intro {
		margin-bottom: 12px;

		select {
			margin-right: 8px;

			&:not(:first-child) {
				margin-left: 8px;
			}
		}
	}
	&__rule {
		align-items: flex-start;
	}
	&__name {
		flex: 1;
	}
	&__value {
		flex: 2;
	}
}
&-show-hide__inputs .og-field {
	flex: 2;
	margin-bottom: 0;
}

&-block-description {
	td {
		vertical-align: top;
	}
	code {
		background: none;
		font-size: 12px;
		white-space: nowrap;
		padding: 0;
	}
}