&-show-hide__inputs .og-field {
	flex: 2;
	margin-bottom: 0;
}

&-block-description {
	td {
		vertical-align: top;
	}
	code {
		background: none;
		font-size: 12px;
		white-space: nowrap;
		padding: 0;
	}
}

// Block.
&-field--block-view select {
	margin-bottom: 4px;
}
&-field--block-view a:focus {
	outline: none;
	box-shadow: none;
}