&-fields-wrapper {
  display: flex;
}
&-main {
  flex: 1;
  margin-left: 20px;
}
&-sidebar {
  width: 300px;

  .og-collapsible__header {
    background: #fff;
  }

  .og-collapsible--expanded .og-collapsible__header,
  .og-collapsible__header:hover {
    border-color: var(--color-light);
    background: var(--color-lighter);
  }
}
&-search {
  width: 100%;
  margin-bottom: 12px;
}

&-panel {
  margin-bottom: -1px;

  h4 {
    cursor: pointer;
    padding: 12px 16px;
    margin: 0;
  }
}
&-panel__body,
&-search-results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}