// Inserter.
&-inserter {
	color: var(--color-gray);

	input {
		width: 100%;
		margin: 0;
	}

	&__title {
		margin: 12px 0 0;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 500;
	}

	&__content {
		margin-top: 12px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 8px;
	}
}