&-status {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	border: 1px solid;
	border-radius: 99px;
	padding: 0 8px;
	font-size: 12px;

	&:before {
		content: "✕";
		font-size: 10px;
		font-weight: 700;
	}

	input {
		display: none;
	}

	// Default inactive status
	border-color: var(--color-light);
	background: var(--color-lighter);

	// Active status
	&:has(input:checked),
	&--active {
		border-color: #57c091;
		background: #eefcf0;
		color: #276a52;

		&:before {
			content: "✓";
		}
	}
}