&-text-limit {
	display: inline-flex;

	input[type="text"] {
		margin-inline: 0;
		width: 6em;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		&:focus {
			z-index: 2;
		}
	}

	select {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
	}
}
