&-theme-code {

	&__intro,
	&__none {
		padding-inline: 12px;
	}

	&__intro>div,
	&__none {
		margin: 1em 0;
	}

	&__note {
		font-style: italic;
	}

	&__content {
		border-top: var(--border-lighter);
		display: grid;
		grid-template-columns: 180px minmax(0, 1fr);
	}

	&__header {
		cursor: pointer;
		border-right: var(--border-lighter);
	}

	&__fields {
		position: sticky;
		top: 48px;
	}

	&__field {
		font-weight: 500;
		border-bottom: var(--border-lighter);
		display: block;
		cursor: pointer;
		padding: 12px;

		&--active {
			background: var(--color-lightest);
		}
	}

	&__body {
		.og-result__body {
			position: sticky;
			top: -48px;
		}
	}

	.react-codemirror2 {
		border-width: 0 0 1px;
	}
}