&-context-menu {
	position: absolute;
	width: min-content;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ccc,0 2px 3px #0000000d,0 4px 5px #0000000a,0 12px 12px #00000008,0 16px 16px #00000005;
	z-index: 999999;
	padding-block: 8px;
}