@import 'style.scss';

.mb-spui {
	--color-gray: #7e8993;
	--color-light: #ccd0d4;
	--color-red: #e53e3e;

	margin-top: 24px;
	padding: 18px 12px;
	border: 1px solid var(--color-light);
	background: #fff;

	// Elements
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		display: block;
		width: 100%;
		max-width: none;
		margin: 0;
	}
	&-required {
		color: var(--color-red);
	}
	&-loading {
		margin-left: 12px;
		font-style: italic;
	}

	// Fields
	&-field {
		margin-bottom: 16px;
		display: flex;
		justify-content: space-between;
	}
	&-label {
		flex: 0 0 180px;
	}
	&-input {
		flex: 1;
	}
	&-description {
		font-style: italic;

		& + div {
			margin-top: 20px;
		}
	}

	&-choice {
		margin-right: 12px;
	}
	&-tabs {
		width: 75%;
	}

	&-tab {
		display: flex;
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;

		input[type=text] {
			width: calc( 50% - 18px );
		}

		button {
			padding: 0;
			border: 0;
			background: none;
			transition: unset;
			cursor: pointer;
		}

		span {
			color: var(--color-gray);
		}
	}

	&-icon {
		position: relative;
		display: inline-block;
		margin: 0 4px 4px 0;

		svg {
			border: 1px solid var(--color-light);
			border-radius: 4px;
			width: 36px;
			height: 36px;
			padding: 8px;
			box-sizing: border-box;
			fill: currentColor;

			&:hover {
				border-color: var(--wp-admin-theme-color);
			}
		}
		.dashicons {
			border: 1px solid var(--color-light);
			border-radius: 4px;
			width: 36px;
			height: 36px;
			padding: 8px;
			box-sizing: border-box;

			&:hover {
				border-color: var(--wp-admin-theme-color);
			}
		}

		input {
			position: absolute;
			opacity: 0;

			&:checked ~ svg {
				fill: #fff;
				background-color: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
			}
			&:checked ~ .dashicons {
				color: #fff;
				background-color: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
			}
		}
	}
}