.components-tooltip {
	max-width: 400px;
}

.components-modal__header {
	padding-top: 8px;
}

// Context menu.
.components-menu-items__item-icon.components-menu-items__item-icon.components-menu-items__item-icon {
	width: 16px;
	height: 16px;
	opacity: .45;
}

.components-button.components-dropdown-menu__toggle {
	height: calc(16px + 2 * 6px); // SVG height: 16px, button pading: 6px.
}

.components-menu-group+.components-menu-group {
	border-top-color: var(--color-light);
}

// Toolbar
.components-accessible-toolbar,
.components-toolbar,
.components-toolbar-group {
	border-color: var(--color-light);
}

.components-accessible-toolbar,
.components-toolbar {
	border-radius: 4px;
}

.components-toolbar-group {
	min-height: auto;
}

.components-accessible-toolbar .components-button.components-button,
.components-toolbar .components-button.components-button {
	height: 30px;

	svg {
		fill: currentColor;
	}
}