.og {
	@import "elements";
	@import "fields";
}

.og-relationship-side {
	border: var(--border);
	background: #fff;
	margin-top: 18px;

	&__header {
		cursor: auto;
		border-bottom: var(--border);
	}
	&__body {
		padding: 12px;
	}
}