@import "variables";
@import "license-warning";

.og {
	@import "elements";
	@import "fields";
	@import "result";
	@import "field-inserter";

	.relationships-plain {
		padding: 12px;
		margin-bottom: 0;
		border-bottom: var(--border-lighter);
	}
}

// Hide WordPress elements.
.misc-pub-visibility {
	display: none;
}