&-add-field {

	.components-search-control,
	&__list {
		padding: 16px;
	}

	&__title {
		padding: 16px 16px 0;
		color: #757575;
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.components-button.has-text {
		flex-direction: column;
		height: auto;
		padding-block: 20px;
		gap: 16px;
		color: inherit;
		font-size: 12px;

		&:hover {
			color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
		}
	}
}