// Style similar to include-exclude
&-attribute {
	border: 1px solid var(--color-gray);
	padding: 8px;
	margin-bottom: 8px;
	border-radius: 4px;
	background: var(--color-lightest);

	display: flex;
	flex-direction: column;
	gap: 8px;

	.og-remove,
	.og-remove:hover {
		color: var(--color-red);
		font-size: 11px;
		align-self: flex-start;
	}
}

// Display description above the "+ Add new" button
&-attribute-wrapper .og-description {
	margin-top: 0;
	margin-bottom: 12px;
}