&-field {
	flex-direction: column;
}

&-label {
	flex: 0;
	max-width: none;
	margin-right: 0;

	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: block;
	margin-bottom: 8px;
}

&-input {
	// Reset style for label, which is set in Panel component
	label {
		max-width: none;
		margin-right: 0;
	}
}

// Do not indent sub-fields' controls
&-indent {
	display: none;
}

// Description
&-description {
	color: #757575;
	font-style: normal;
}

// Error
&-error {
	color: var(--color-red);
}