.components-panel__body-toggle[aria-expanded="true"] {
	background: var(--color-lighter);
}

.components-panel__row {
	display: block;
}

// Hide panel body, but keep it in DOM for uncontrolled inputs.
.components-panel__body:not(.is-opened) .og-panel-body {
	display: none;
}

.og-panel-body {
	padding-top: 8px;
}