/* Tooltip */
.mbb-tooltip {
	border: none;
	background: no-repeat;
	padding: 0;
	color: #ccc;
	width: 16px;
	height: 16px;
}

.mbb-tooltip .dashicons {
	font-size: 14px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.tippy-tooltip {
	text-align: left;
}

.column-shortcode input {
	max-width: 100%;
}

/* Import form */
.mbb-import-form {
	display: none;
	padding: 50px 0;
}

.mbb-import-form p {
	color: #555d66;
	font-size: 18px;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

.mbb-import-form form {
	background: #fafafa;
	border: 1px solid #e5e5e5;
	padding: 30px;
	margin: 30px auto;
	max-width: 380px;
}

.mbb-label {
	padding: 4px 8px;
	border-radius: 5px;
	display: inline-block;
}

.mbb-sub-path {
	color: #999;
}

.mbb-label[data-status="synced"] {
	background: #D6F1DF;
	color: #218358;
}

.mbb-label[data-status="error_file_permission"], .mbb-label[data-status="no_json"] {
	background: #FFF7F8;
	color: #CA244D;
}

.mbb-label[data-status="sync_available"] {
	background: #F0F0F0;
	color: #646464;
}