.mbb-settings {
	display: none;
	color: #72777c;
	font-size: 16px;
	height: 36px;
	width: 24px;
	line-height: 36px;
}

.mbb-settings:hover {
	color: inherit;
}

.postbox-header:hover .mbb-settings {
	display: inline-block;
}