ul {
    padding-left: 10px;
    list-style-type: none;
  }
  
  .dndi {
    height: 36px;
  }
  
  li.d {
    cursor: move;
  }

  .drop_area{
    height: 48px;
    border: 2px dashed gray;
    text-align: center;
  }
  
  li {
    /* border: 1px dashed #e0e0e0; */
  }
  