.mb-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: -1px; // Override to the header's border
	// transition: all .25s; // Don't use transition to make resizing smoother.
	transform: translateX(calc(0px - var(--nav-width)));

	// Only scroll inner content, keep the panel header sticky
	&__inner {
		position: absolute;
		top: calc(48px - 1px); // 48px: header, -1px: margin top
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: auto;
		scrollbar-width: thin;
	}
}

[data-nav-panel="add"] .mb-panel--add,
[data-nav-panel="structure"] .mb-panel--structure,
[data-nav-panel="field-group-settings"] .mb-panel--field-group-settings,
[data-nav-panel="field-settings"] .mb-panel--field-settings {
	transform: translateX(0);
}
