.components-panel__row {
	display: block;
}

// Hide panel body, but keep it in DOM for uncontrolled inputs.
.components-panel__body:not(.is-opened) .og-panel-body {
	display: none;
}


.og-panel {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-inline: 16px;
		width: 100%;
		height: 48px;

		color: #1e1e1e;
		font-weight: 500;

		border-inline: none;
		border-block: 1px solid #ddd;
		margin-top: -1px;

		transition: background .1s ease-in-out;
		background: #fff;

		cursor: pointer;

		&--open {
			background: var(--color-lighter);
		}
	}

	&__body {
		display: none;
		// overflow-y: hidden;
		// max-height: 0;
		// transition: all .2s ease-in-out;
		padding-inline: 16px;

		&--open {
			display: block;
			// max-height: 999999px;
			padding-block: 16px;
		}
	}
}

// Summary
.mb-summary {
	padding-inline: 16px;

	p {
		display: flex;
	}

	label {
		min-width: 120px;
	}

	&__status {
		text-transform: capitalize;
	}
}
