&-item__id {
	font-size: 12px;
	cursor: pointer;
	max-width: 40%;
	display: inline-flex;
	align-items: center;

	&__inner {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		display: inline-block;
	}
}