.mb-panel--structure .components-panel__header {
	padding-right: 0;

	h2 {
		flex: 1;
	}
}

.mb-panel__header {
	flex: 1;
	margin-right: auto;
}

.og-item__id {
	font-size: 12px;
	cursor: pointer;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mb-panel--floating {
	position: fixed;
	z-index: 999999;
	box-shadow: var(--shadow-md);

	--color-lighter: #2e2e2e;
	--color-lightest: #3e3e3e;
	--border-lighter: 1px solid var(--color-lighter);

	.mb-panel--structure {
		position: static;
		width: 300px;
		transform: none;
		border-radius: 4px;
		border: none;

		// Dark mode.
		background: #1e1e1e;
		color: #f0f0f0;
	}

	.components-panel__header {
		cursor: move;
		user-select: none;
		height: 40px;
		margin-top: 0;
		border-bottom-color: var(--color-lighter);
		padding-right: 8px;

		button {
			color: currentColor;
		}
	}

	.mb-panel__inner {
		position: static;
		width: 100%;
		max-height: 480px;

		>div>.og-item:last-child {
			border-bottom: none;
		}
	}

	.og-item__header {
		grid-template-columns: 16px 1fr 36px;
		padding-bottom: 2px;
	}

	.og-item__id {
		display: none;
	}
}