.mb-panel--structure .components-panel__header {
	padding-right: 0;

	h2 {
		flex: 1;
	}
}

&-item__id {
	font-size: 12px;
	cursor: pointer;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}